<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key ="BrowserType" value ="Chrome"/>
    <add key ="User" value ="izikariel95@gmail.com"/>
    <add key ="Pass" value ="123456"/>
    <add key ="Website" value ="http://localhost:5001/"/>

  </appSettings>
  
</configuration>